services:
  frontend:
    build: ./frontend
    container_name: frontend  
    ports:
      - "8080:80"
    environment:
      - API_URL=http://localhost:5000
      - INTERNAL_API_URL=http://backend:5000
    depends_on:
      - backend
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "5000:5000"
    volumes:
      - ./uploads:/app/uploads 
      - ./dados:/app/dados

networks:
  default:
    name: minha-redes